@font-face {
    font-family: Rubik Doodle Shadow;
    src: url(../../fonts/RubikDoodleShadow-Regular.ttf);
}

.auth-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    flex-wrap: wrap;
    transform: translateY(-30px);
    overflow: hidden;
}

.auth>div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.auth-left {
    gap: 30px;
}

.logo-img {
    display: block;
    /* width: 180px; */
    height: 180px;
}

.app-name>h1 {
    font-family: Rubik Doodle Shadow , sans-serif;
    font-size: 48px;
}

.app-name>h6 {
    font-size: 16px;
}

.auth-form {
    background-color: var(--cardColor);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
}

.auth-form h3, .auth-form button{
    font-family: Rubik Doodle Shadow , sans-serif;
}

.auth-form>div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.info-input {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #A2001D;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.400);
}

.info-btn {
    padding: 16px 32px;
    margin-left: 10px;
    font-weight: bold;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 0;
    border-radius: 8px;
    background-image: var(--buttonBgTwo);
    cursor: pointer;
    transition: 0.3 ease;
}

.button:hover {
    color: var(--yellowgreen);
    outline: 2px solid var(--yellowgreen);
    background-color: transparent;
}

.button:disabled {
    background-color: #fff;
    pointer-events: none;
}

.info-span {
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
}

.confirm-span {
    color: red;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 16px;
    margin-top: 5px;
}

@media (max-with: 768px) {
    .logo-img {
        width: 54px;
        height: 54px;
    }

    .app-name>h1 {
        font-size: 38px;
    }

    .app-name>h6 {
        font-size: 14px;
        margin-right: 10px;
    }

    .auth>div {
        margin: 0 auto;
    }

    .auth-form>div {
        justify-content: space-between;
        width: 100%;
    }
}