.home-div {
  width: 100%;
  height: 452px;
  position: relative;
  top: 150px;
  left: 0;
  display: flex;
  align-items: center;
}

.dream-car p {
  font-size: 50px;
  font-weight: 700px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dream-car span {
  font-size: 80px;
  font-weight: 700;
  color: red;
}

.dream-car-link {
  border-radius: 50px;
  padding: 9px 17px 9px 17px;
  margin-top: 20px;
  border: 1px solid #100e34;
  background-color: #100e34;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.button-flex {
  display: flex;
  align-items: center;
  gap: 35px;
  transform: translateY(-25px);
}

.all-models {
  width: 750px;
  display: flex;
  margin: 0 auto;
  padding: 22px 44px;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  box-shadow: var(--profileShadow);
}

.car-brand {
  padding: 20px;
  margin: 0 auto;
}

.car-brand a > img {
  height: 100px;
  margin: 0 auto;
  filter: grayscale(1);
  transition: all 0.4s ease 0s;
}

.car-brand a:hover > img:hover {
  filter: none;
  transform: scale(1.1);
}

.servise-text h4 {
  font-size: 18px;
  font-weight: 400;
  color: #666872;
  text-align: center;
}

.cars-controller {
  gap: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.cars-controller-item {
  width: 322px;
  height: 246px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: var(--profileShadow);
}

.cars-controller-item h4 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 18px;
  text-align: start;
}

.cars-controller-item h5 {
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
}

.genesis-car {
  display: flex;
  margin-top: 130px;
  align-items: center;
  justify-content: center;
}

.genesis-car img {
  width: 65%;
  border-radius: 20px;
}

.genesis-everyone {
  width: 35%;
  box-shadow: var(--profileShadow);
  border-radius: 20px;
  padding: 110px 60px;
  margin-left: -20px;
}

.genesis-everyone h1 {
  font-weight: 700;
  font-size: 32px;
  color: #100e34;
}

.genesis-everyone p {
  color: #666872;
  font-size: 16px;
  font-weight: 400;
}

.genesis-btn {
  padding: 9px 17px;
  background-color: #100e34;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 26px;
  color: #fff;
  border: none;
}

.feedback-info {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-info-item {
  width: 400px;
  height: 252px;
  border: 3px solid #706868;
  box-shadow: 5px 5px 10px gray;
  border-radius: 8px;
  padding: 25px;
}

.feedback-info-item-two {
  width: 400px;
  height: 307px;
  border: 3px solid #706868;
  box-shadow: 5px 5px 10px gray;
  border-radius: 8px;
  padding: 30px;
}

.feedback-img {
  display: flex;
  align-items: center;
  gap: 15px;
}

.feedback-info-item p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 28px;
  color: #666872;
}

.feedback-info-two {
  font-size: 16px;
  color: #666872;
  font-weight: 400;
  margin-top: 35px;
}

.blog-box {
  width: 100%;
  background-color: #eaebf0;
  padding: 10px 0;
}

.blog-pages {
  gap: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.blog-pages-item {
  width: 350px;
  background-color: #fff;
  border-radius: 15px;
}

.car-photo img {
  width: 100%;
  cursor: pointer;
}

.car-price {
  padding: 10px 20px;
}

.car-price p {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .cars-controller {
    gap: 20px;
  }
  .cars-controller-item {
    width: 200px;
    height: 250px;
  }
  .cars-controller-item img {
    width: 30px;
  }

  .cars-controller-item h4 {
    margin: 0;
  }

  .feedback-info {
    width: 100%;
    flex-wrap: wrap;
  }

  .all-models {
    width: 550px;
    margin: 0 auto;
  }
  .all-models img {
    height: 40px;
  }
}

@media (max-width: 500px) {
  .all-models {
    width: 50%;
    flex-direction: column;
    justify-content: center;
  }
  .genesis-car {
    flex-direction: column;
  }
  .genesis-everyone {
    width: 100%;
  }
  .blog-pages {
    width: 100%;
    overflow-x: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-pages-item {
    height: 300px;
    width: 300px;
  }
  .blog-pages-item .car-price {
    height: 200px;
    overflow-y: hidden;
  }
}
