.modal {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(128, 128, 128, 0.437);
}

.modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body button{
    border: none;
    background: transparent;
}

.modal-body form {
    width: 50%;
    height: 50%;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.400);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}