.box-models {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.box-models img {
  width: 270px;
  object-fit: contain;
  height: 250px;
  padding: 10px;
  background-color: whitesmoke;
  margin-right: -40px;
  border-radius: 20px;
  z-index: 2;
}

.card-models {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.car-explore .card-models span {
  text-transform: capitalize;
}

.cars-info {
  width: 270px;
  height: 100%;
  box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
}

.cars-info h3 {
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.car-explore a {
  padding: 10px 18px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.car-explore a:hover {
  background-color: #a2001d;
  color: #fff;
}

.explore {
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  background-color: #eaebf0;
}

.car-explore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

@media (max-width: 1140px) {
  .explore img {
    width: 200px;
  }
}
@media (max-width: 450px) {
  .explore img {
    width: 250px;
    margin-right: 0;
    margin-bottom: -50px;
  }
  .box-models {
    width: 330px;
    padding: 0 20px;
  }
  .card-models {
    flex-direction: column;
  }
  .cars-info {
    width: 100%;
  }
}
